<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Welcome User</h1>
    <h2>ToDO List</h2>
    <table border="">
        <tr>
            <th>Task</th>
            <th>Due Date</th>
            <th>Action</th>
        </tr>
        <% responses.forEach(function(row){ %>
        <tr>
            <td><%= row.task %></td>
            <td><%= row.duedate %></td>
            <td>
                <form action="/delete/<%= row.task %>" method="post">
                    <button type="submit">Delete</button>
                </form>
            </td>
        </tr>
        <% }) %>
    </table>
    <a href="/add"><button>Add Todo</button></a>
</body>
</html>